In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [43]:
data = pd.read_csv (r'/Users/lovelbangura/Desktop/Project/10_Academy/Week1/Week1_challenge_data_source(CSV).csv')

In [15]:
df = pd.DataFrame(data, columns= ['bearer id',
'Start',
'IMEI',
'Dur. (ms).1',
'Handset Manufacturer',
'Handset Type',])

In [16]:
# n =10
# headset_used_by_customers = df['Handset Type'].value_counts()[:n].index.tolist()
 
def most_used( name, number ) -> pd.DataFrame:
        """
           Funtions the count the frequence of occurence
        """
        result = df[name].value_counts()[:number].index.tolist()
        return result
    
headset_used_by_customers= most_used('Handset Type', 10)
headset_used_by_customers

['Huawei B528S-23A',
 'Apple iPhone 6S (A1688)',
 'Apple iPhone 6 (A1586)',
 'undefined',
 'Apple iPhone 7 (A1778)',
 'Apple iPhone Se (A1723)',
 'Apple iPhone 8 (A1905)',
 'Apple iPhone Xr (A2105)',
 'Samsung Galaxy S8 (Sm-G950F)',
 'Apple iPhone X (A1901)']

In [17]:
# n=3
# top_3_handset_manufacturers = df['Handset Manufacturer'].value_counts()[:n].index.tolist()
# top_3_handset_manufacturers
top_3_handset_manufacturers = most_used('Handset Manufacturer', 3)
top_3_handset_manufacturers

['Apple', 'Samsung', 'Huawei']

# Apple Top 5 Headset

In [18]:
top =5
all_apple = df.loc[df['Handset Manufacturer'] == 'Apple']


only_apple = pd.DataFrame(all_apple, columns= [
'Handset Manufacturer',
'Handset Type',])

only_apple.value_counts()[:top]

Handset Manufacturer  Handset Type
Apple                 Apple iPhone 6S (A1688)    9419
                      Apple iPhone 6 (A1586)     9023
                      Apple iPhone 7 (A1778)     6326
                      Apple iPhone Se (A1723)    5187
                      Apple iPhone 8 (A1905)     4993
dtype: int64

# Samsung Top 5 Headset

In [19]:
top =5
all_Samsung = df.loc[df['Handset Manufacturer'] == 'Samsung']


only_Samsung = pd.DataFrame(all_Samsung, columns= [
'Handset Manufacturer',
'Handset Type',])

only_Samsung.value_counts()[:top]

Handset Manufacturer  Handset Type
Samsung               Samsung Galaxy S8 (Sm-G950F)    4520
                      Samsung Galaxy A5 Sm-A520F      3724
                      Samsung Galaxy J5 (Sm-J530)     3696
                      Samsung Galaxy J3 (Sm-J330)     3484
                      Samsung Galaxy S7 (Sm-G930X)    3199
dtype: int64

# Huawei Top 5 Headset

In [20]:
top =5
all_Huawei = df.loc[df['Handset Manufacturer'] == 'Huawei']


only_Huawei = pd.DataFrame(all_Huawei, columns= [
'Handset Manufacturer',
'Handset Type',])

only_Huawei.value_counts()[:top]

Handset Manufacturer  Handset Type
Huawei                Huawei B528S-23A                  19752
                      Huawei E5180                       2079
                      Huawei P20 Lite Huawei Nova 3E     2021
                      Huawei P20                         1480
                      Huawei Y6 2018                      997
dtype: int64

# Total Upload

In [21]:
df = pd.DataFrame(data, columns= ['bearer id',
'Nb of sec with 125000B < Vol DL',
'Nb of sec with 1250B < Vol UL < 6250B',
'Nb of sec with 31250B < Vol DL < 125000B',
'Nb of sec with 37500B < Vol UL',
'Nb of sec with 6250B < Vol DL < 31250B',
'Nb of sec with 6250B < Vol UL < 37500B',
'Nb of sec with Vol DL < 6250B',
'Nb of sec with Vol UL < 1250B',
'Social Media DL (Bytes)',
'Social Media UL (Bytes)',
'YouTube DL (Bytes)',
'YouTube UL (Bytes)',
'Netflix DL (Bytes)',
'Netflix UL (Bytes)',
'Google DL (Bytes)',
'Google UL (Bytes)',
'Email DL (Bytes)',
'Email UL (Bytes)',
'Gaming DL (Bytes)',
'Gaming UL (Bytes)',
'Other DL',
'Other UL',
'Total DL (Bytes)',
'Total UL (Bytes)'])

total_upload = df['Total UL (Bytes)'].sum()
total_upload

6168180943816.0

# Total Download

In [22]:
total_download = df['Total DL (Bytes)'].sum()
total_download

68196514511845.0

# Total data volume (in Bytes) during this session for each application

In [23]:
social_media_totl_volume = df['Social Media DL (Bytes)'].sum() + df['Social Media UL (Bytes)'].sum()
social_media_totl_volume

274239359454.20804

In [24]:
youtube_totl_volume = df['YouTube DL (Bytes)'].sum() + df['YouTube UL (Bytes)'].sum()
youtube_totl_volume

0.0

In [25]:
netflix_totl_volume = df['Netflix DL (Bytes)'].sum() + df['Netflix UL (Bytes)'].sum()
netflix_totl_volume

3394313609363.538

In [26]:
google_total_volume = df['Google DL (Bytes)'].sum() + df['Google UL (Bytes)'].sum()
google_total_volume

1171101989130.5454

In [27]:
email_total_volume = df['Email DL (Bytes)'].sum() + df['Email UL (Bytes)'].sum()
email_total_volume

338867605596.30994

In [33]:
gaming_total_volume = df['Sum'] = df['Email DL (Bytes)'].sum() + df['Email UL (Bytes)'].sum()
gaming_total_volume

338867605596.30994

In [34]:
other_total_volume = df['Other DL'].sum() + df['Other UL'].sum()
other_total_volume

0.0

In [35]:
#showing mean, median, min, max, 25, 50, 75, std.

data.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [36]:
#. Sum of number values in each column

data.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [37]:
#Clumns that have null values

data.isnull().any()

Bearer Id                                    True
Start                                        True
Start ms                                     True
End                                          True
End ms                                       True
Dur. (ms)                                    True
IMSI                                         True
MSISDN/Number                                True
IMEI                                         True
Last Location Name                           True
Avg RTT DL (ms)                              True
Avg RTT UL (ms)                              True
Avg Bearer TP DL (kbps)                      True
Avg Bearer TP UL (kbps)                      True
TCP DL Retrans. Vol (Bytes)                  True
TCP UL Retrans. Vol (Bytes)                  True
DL TP < 50 Kbps (%)                          True
50 Kbps < DL TP < 250 Kbps (%)               True
250 Kbps < DL TP < 1 Mbps (%)                True
DL TP > 1 Mbps (%)                           True
UL TP < 10 Kbps (%)                          True
10 Kbps < UL TP < 50 Kbps (%)                True
50 Kbps < UL TP < 300 Kbps (%)               True
UL TP > 300 Kbps (%)                         True
HTTP DL (Bytes)                              True
HTTP UL (Bytes)                              True
Activity Duration DL (ms)                    True
Activity Duration UL (ms)                    True
Dur. (ms).1                                  True
Handset Manufacturer                         True
Handset Type                                 True
Nb of sec with 125000B < Vol DL              True
Nb of sec with 1250B < Vol UL < 6250B        True
Nb of sec with 31250B < Vol DL < 125000B     True
Nb of sec with 37500B < Vol UL               True
Nb of sec with 6250B < Vol DL < 31250B       True
Nb of sec with 6250B < Vol UL < 37500B       True
Nb of sec with Vol DL < 6250B                True
Nb of sec with Vol UL < 1250B                True
Social Media DL (Bytes)                     False
Social Media UL (Bytes)                     False
Google DL (Bytes)                           False
Google UL (Bytes)                           False
Email DL (Bytes)                            False
Email UL (Bytes)                            False
Youtube DL (Bytes)                          False
Youtube UL (Bytes)                          False
Netflix DL (Bytes)                          False
Netflix UL (Bytes)                          False
Gaming DL (Bytes)                           False
Gaming UL (Bytes)                           False
Other DL (Bytes)                            False
Other UL (Bytes)                            False
Total UL (Bytes)                             True
Total DL (Bytes)                             True
dtype: bool

In [38]:
# replace null value with mean
without_null_values = data.fillna(df.mean())
without_null_values

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,3.674974e+07,3.088796e+08
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,5.380039e+07,6.533850e+08
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,2.788364e+07,2.798073e+08
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,4.332422e+07,8.460285e+08
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,3.854281e+07,5.691386e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,5.762885e+07,5.741753e+08
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,3.913508e+07,6.666488e+08
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,3.491222e+07,5.927864e+08
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,2.962610e+07,3.718959e+08
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08

In [39]:
without_null_values.isnull().any()

Bearer Id                                    True
Start                                        True
Start ms                                     True
End                                          True
End ms                                       True
Dur. (ms)                                    True
IMSI                                         True
MSISDN/Number                                True
IMEI                                         True
Last Location Name                           True
Avg RTT DL (ms)                              True
Avg RTT UL (ms)                              True
Avg Bearer TP DL (kbps)                      True
Avg Bearer TP UL (kbps)                      True
TCP DL Retrans. Vol (Bytes)                  True
TCP UL Retrans. Vol (Bytes)                  True
DL TP < 50 Kbps (%)                          True
50 Kbps < DL TP < 250 Kbps (%)               True
250 Kbps < DL TP < 1 Mbps (%)                True
DL TP > 1 Mbps (%)                           True
UL TP < 10 Kbps (%)                          True
10 Kbps < UL TP < 50 Kbps (%)                True
50 Kbps < UL TP < 300 Kbps (%)               True
UL TP > 300 Kbps (%)                         True
HTTP DL (Bytes)                              True
HTTP UL (Bytes)                              True
Activity Duration DL (ms)                    True
Activity Duration UL (ms)                    True
Dur. (ms).1                                  True
Handset Manufacturer                         True
Handset Type                                 True
Nb of sec with 125000B < Vol DL             False
Nb of sec with 1250B < Vol UL < 6250B       False
Nb of sec with 31250B < Vol DL < 125000B    False
Nb of sec with 37500B < Vol UL              False
Nb of sec with 6250B < Vol DL < 31250B      False
Nb of sec with 6250B < Vol UL < 37500B      False
Nb of sec with Vol DL < 6250B               False
Nb of sec with Vol UL < 1250B               False
Social Media DL (Bytes)                     False
Social Media UL (Bytes)                     False
Google DL (Bytes)                           False
Google UL (Bytes)                           False
Email DL (Bytes)                            False
Email UL (Bytes)                            False
Youtube DL (Bytes)                          False
Youtube UL (Bytes)                          False
Netflix DL (Bytes)                          False
Netflix UL (Bytes)                          False
Gaming DL (Bytes)                           False
Gaming UL (Bytes)                           False
Other DL (Bytes)                            False
Other UL (Bytes)                            False
Total UL (Bytes)                            False
Total DL (Bytes)                            False
dtype: bool

In [44]:
df = pd.DataFrame(data,columns=['Total UL','Total DL'])

print (df)

        Total UL  Total DL
0            NaN       NaN
1            NaN       NaN
2            NaN       NaN
3            NaN       NaN
4            NaN       NaN
...          ...       ...
149996       NaN       NaN
149997       NaN       NaN
149998       NaN       NaN
149999       NaN       NaN
150000       NaN       NaN

[150001 rows x 2 columns]